# Table of Contents

1. [Why Python](#Why-Python?)
2. [Basic Arthematic Operations](#Basic-Arthematic-operations)
3. [Python Variables](#Python-Variables)
4. [Python Data Types](#Python-Data-Types)
    - 4.1 [String](#Strings)
    - 4.2 [Interger - Floating number](#Interger-Floating-number)
    - 4.3 [Boolean](#Boolean)
    
5. [User Input](#User-Input)
6. [Type Casting](#Type-Casting)
    - 6.1 [Implicit Typecasting](#Implicit-Typecasting)
    - 6.2 [Explicit Typecasting](#Explicit-Typecasting)
    
7. [Conditional Control Structures](#Conditional-Control-Structures)
8. [Loops - For, While](#Loops)

## Why Python?

1. Python is object oriented programing language.
2. It is open source and free to use.
3. It is easy to learn because of clear syntax and easy readability. 
4. Debugging and Interpolation is easy in Python. 
5. Python can be easily integrated with other programing languages.

## Basic Arthematic operations

In [1]:
# Addition 
15 + 85

100

In [2]:
# Subtraction
20 - 0.5

19.5

In [3]:
# Multiplication
1140 * 12

13680

In [4]:
# Division 
100 / 4

25.0

In [5]:
# Floored Division
100.75 // 4

25.0

In [6]:
# Modulo
3%2

1

In [7]:
a = 14
b = 10 

print('The addition of a & b is: ', a+b)
print('The subtraction of a from b is: ', a-b)
print('The multiplication of a and b is: ', a*b)
print('The division of a from b is: ', a/b)
print('The floored division of a from b is: ', a//b)
print('The modulo of a from b is: ', a%b)

The addition of a & b is:  24
The subtraction of a from b is:  4
The multiplication of a and b is:  140
The division of a from b is:  1.4
The floored division of a from b is:  1
The modulo of a from b is:  4

## Python Variables

- Variables are container which contain/store user defined data. 
- Python keywords cannot be used as variable names.

In [9]:
if = "hello" #if is a key word and so we are getting as an error

SyntaxError: invalid syntax (<ipython-input-9-3d70f06aa078>, line 1)

In [10]:
Hero = "Sanjay Dutt" ## Hero here is the variable containing the data sanjay dutt
Hero

'Sanjay Dutt'

In [11]:
Hero_ID = 589
Hero_ID

589

## Python Data Types
- Strings
- Integers
- Float 
- Booleans

### Strings 

- Strings are the text data types which are stored in a variables in python. They are surrounded by single or double quotation marks, ' ' , " ". 

- Python strings are immutable, anyway we can replace the string in a variable but we cannot change any alphabet in a current string or text. 

- To store multiple strings in a single variable we can use triple quotation marks''' '''. 

- We can use + symbol to concat two strings.

- We cannot concatinate a string and a number(int type), but in order to perform this operation we should convert the number into a string.

In [12]:
school1 = "Byjus"
school2 = "Toprr" 

## Byjus and Toprr are strings stored in variables

In [13]:
type(school1)

str

In [14]:
## String slicing 
print('Slice 1: ', school1[0])
print('Slice 2: ', school1[-1])
print('Slice 3: ', school1[3])
print('Slice 4: ', school1[:])
print('Slice 5: ', school1[:3])
print('Slice 6: ', school1[3:])
print('Slice 7: ', school1[1:])

Slice 1:  B
Slice 2:  s
Slice 3:  u
Slice 4:  Byjus
Slice 5:  Byj
Slice 6:  us
Slice 7:  yjus

### Interger - Floating number

There are two types of numbers in python
- Integers which comes as whole numbers (5, 8, 10, 674, 851023)
- Floating number which comes as fractional number (10.450, 56.0, 789.164)

### Boolean 

- Boolean represents one of two values which is: True or False 
- We often some time need to evaluate an expression and once evaluated python returns a boolean answer either True or False.

In [15]:
print(10 == 10)

True

In [16]:
print(14 == 156)

False

## User Input

- In python we have a function called input() which on excecution asks the user to give the inputs, once the input is given then fuction stops and prints the output.

In [18]:
Movie_name = input('Movie name: ')
print('The latest added movie is: ', Movie_name)

Movie name: KGF
The latest added movie is:  KGF

## Type Casting

- The process of converting the data type of a variable into another valid data type is known as Typecasting. 
- There are two methods of typecasting 
    1. Implicit Typecasting
    2. Explicit Typecasting

### Implicit Typecasting
- In implicit typecasting the compiler typecasts from one data type of a variable into another data type with out external action of the user. 

### Explicit Typecasting
- Here the user explicitly forces the compiler to typecast the data type of a varible to another data type.
- There are two ways to perform explicit typecast:
    1. Interger to String or Float.
    2. Float to Integer.

In [19]:
## Implicit Typecasting

a = 142.56 # Float data type
b = 28 # Integer data type

c = a+b #Implicitly Typecasted into float data type for precise answer

In [20]:
c

170.56

In [21]:
type(c)

float

In [22]:
## Explicit Typecasting
# Float to Integer 
int(c) #explicitly typecasting float to integer 170.56 -> 170

170

In [23]:
# Integer to float
float(b) #explicitly typecasting integer to float 28 -> 28.0

28.0

In [24]:
# Integer to String
str(b) #explicitly typecasting integer to string 28 -> '28'

'28'

## Conditional Control Structures
- If statements
- Elif statements
- Else statements

### If statements

- If statements are conditional statements which excecutes an operation when the given conditon evaluates to be true.

In [25]:
if 250 - 250 == 0:
    print('this is true')

this is true

In [26]:
dinner = 100

if dinner - 50 == 50:
    print('True')

True

### Elif statements

- Elif statements are used in conjunction to if statement which performs the given conditional statement only when the if condition evaluates to be false:

### Else statements 

- Else statements are the end of the conditonal statements which performs/excecutes its conditional statement only when either of the if condition and the elif condition evaluates to be true.

In [28]:
# Check availability of bike registration number
bike_reg_numb = int(input('Enter your desired bike number: '))

if bike_reg_numb < 10:
    print('This number unavailable')
else:
    print('This number is available')

Enter your desired bike number: 25
This number is available

## Loops

- Loops in python allow us to perform certain operations for multiple times until some conditon is met. 
- Different types of Loops: 
    1. For Loops
    2. While Loops

### For Loops

- For loops are used to iterate iterables like tupes, lists, string, etc. until some condition is met. 
    - For loops with range()
    - For loops with range(start, stop, step)
    - For loops with in. [This is used to iterate over all the elements in a python container like tuples, lists, dictionary.. etc.]
    
### While Loops

- While loops are used to excecute a set of statements within the block untill the associated loop condition is evaluated to be true.

In [29]:
# For loop with range()

for i in range (8):
    print(i*2)

0
2
4
6
8
10
12
14

In [30]:
for i in range(10):
    print(i+10)

10
11
12
13
14
15
16
17
18
19

In [31]:
# For loop with range(Start, stop, step)

for i in range(2, 25, 3):
    print(i*i)

4
25
64
121
196
289
400
529

In [32]:
for i in range(1, 50, 5):
    print(i-5)

-4
1
6
11
16
21
26
31
36
41

In [33]:
# For loops with in
marks = [25, 54, 89, 59, 72, 45, 35]
for i in marks:
    print(i+i)

50
108
178
118
144
90
70

In [34]:
i = 1

while i<=5:
    print(i)
    i = i+0.5

1
1.5
2.0
2.5
3.0
3.5
4.0
4.5
5.0

In [35]:
n = 5
while n > 0:
    n = n - 1
    print(n)

4
3
2
1
0