## Table of Contents

1. [Python Strings and In built functions](#Python-Strings-&-In-built-Functions)
2. [Python List & In built functions](#Lists-&-In-built-Functions)
3. [Python Sets & In built functions](#Sets-&-In-built-Functions)
4. [Python Tuples & In built functions](#Tuples-&-In-built-Functions)
5. [Python Dictionaries & In built function](#Dictionaries-&-In-built-functions)

In [102]:
## Note: There are many in built functions or methods but,
# Most used methods are mentioned.

## Variables

- Variables are containers which contains data/information.
- Data within a variable can be varry and so it is called variable.
- We cannot use keywords as variable names.
- Variables are case sensitive.
- Spaces won't work in a variable name.

In [1]:
invitation = 'Welcome Hruday, I hope you are doing well'
#Here invitation is a variable containing information 

Marks = 256 
#Here in this case Marks is a variable

print(invitation)
print(Marks)

Welcome Hruday, I hope you are doing well
256

## Python Strings & In built Functions

- Strings are used to store text data in python. 

- They are surrounded by single or double quotation marks, ' ' , " ".  

- Python strings are immutable, anyway we can replace the string in a variable but we cannot change any alphabet in a current string or text. 

- To store multiple strings in a single variable we can use triple quotation marks''' '''. 

- We can use + symbol to concat two strings.

- We cannot concatinate a string and a number(int type), but in order to perform this operation we should convert the number into a string.

In [2]:
# CAPITALIZE()
## This function capitalizes the first letter of the string and lowercases the other letters of the string

a = ' choti BhaCHi HO KYA? '
print('Original String: ', a)
print('Capitalized String: ', a.capitalize())

Original String:   choti BhaCHi HO KYA?
Capitalized String:   choti bhachi ho kya?

In [3]:
# Casefold(), and lower() both these method are used to lower the strings

print('Original String: ', a)
print('Lowercased string: ', a.casefold())

print('---x Lowercase Method(lower()) x---')

print('lowercase method: ', a.lower())

Original String:   choti BhaCHi HO KYA?
Lowercased string:   choti bhachi ho kya?
---x Lowercase Method(lower()) x---
lowercase method:   choti bhachi ho kya?

In [4]:
# Strip method -> This method removes any white spaces present in the begining and the ending of the string

print('Original String:', a) 
#returns ' choti BhaCHi HO KYA? ' -> notice the white spaces. 

print('Stripped string:',a.strip()) 
#returns 'choti BhaCHi HO KYA?' -> Notice the removed white spaces.

Original String:  choti BhaCHi HO KYA?
Stripped string: choti BhaCHi HO KYA?

In [5]:
# Replace method -> This method replaces the exsiting string with the given string. 

print('Original String:', a) #Original string

print('Replaced string: ', a.replace('choti','badi')) 
# Replaces choti->badi

Original String:  choti BhaCHi HO KYA?
Replaced string:   badi BhaCHi HO KYA?

In [6]:
# Split method seperate the exsisting into substrings based on given instances of seperator

print('Original String:', a) #Original string

print('The splitted string: ',a.split('h'))
# Splits the string into substring based on instance seperator 'h' as mentioned.

Original String:  choti BhaCHi HO KYA?
The splitted string:  [' c', 'oti B', 'aCHi HO KYA? ']

In [7]:
# Len() method gives the length of the string
len(a)

22

In [8]:
# String Concatination: Two concat two strings we can use + 

a1 = 'Munna'
a2 = 'Bhai'
a3 = 'MBBS'

Sanju_Dada = a1+a2+a3

Sanju_Dada

'MunnaBhaiMBBS'

In [9]:
#To give space between concatination we follow the bellow procedure
sanju_dada = a1+a2+' '+a3 

sanju_dada

'MunnaBhai MBBS'

In [10]:
# We cannot combine strings and numbers like this:

release_date = 24

test = 'Pushpa movie releases on: ' + release_date
#This will throw an error

TypeError: can only concatenate str (not "int") to str

In [11]:
# String format -> We can combine numbers with strings with the help of format method
# Here the passed arguments are formatted and placed where {} are there. 

movie_name = 'Pushpa'
release_date = 24

print('Have you watched {}, released on {}th last month'.format(movie_name, release_date))
# We can see that we have placed a numerical 24 into a string using format

Have you watched Pushpa, released on 24th last month

In [12]:
# Check String
print('KYA' in a)

True

In [13]:
# Check if NOT
print('KYA' not in a)

False

## Lists & In built Functions

- Lists are used to store collections of data in a single variable. 
- Lists are created using square brackets [ ].
- List is one of the 4 built-in data types available in Python. 
- List items are changeable, ordered, allow duplicates and allow different data types.
- Like Integer, Strings, Boolean.
- List items are indexed and starts from 0. 
- We can use index number for accesing the items. We can also use negative indexing.

In [14]:
marks_finals = [55, 68, 94, 72, 35, 63]

usernames = ['remo_96','Raja mouli', 894, 'Raja mouli', 'Tiger ana', 643, True]

#Notice -> 'Raja_mouli' is duplicated item in the list usernames
#Also in the list usernames we can observe that all data types are available

In [15]:
len(usernames)

7

In [16]:
type(marks_finals)

list

In [17]:
# Accesing items
print(usernames[3])
print('xxx---xxxx')
print(marks_finals[-1])

Raja mouli
xxx---xxxx
63

In [18]:
## Insert Items

print('Existing List: ', usernames)
usernames.insert(3, 'Prakash Raj')

print('Updated List: ', usernames)

Existing List:  ['remo_96', 'Raja mouli', 894, 'Raja mouli', 'Tiger ana', 643, True]
Updated List:  ['remo_96', 'Raja mouli', 894, 'Prakash Raj', 'Raja mouli', 'Tiger ana', 643, True]

In [19]:
## Append Items -> To append an item in the end of the list we use append() method
print('Exisiting List: ', marks_finals)

marks_finals.append(12) #12 gets appended in the end of the list

print('Updated List: ', marks_finals)

Exisiting List:  [55, 68, 94, 72, 35, 63]
Updated List:  [55, 68, 94, 72, 35, 63, 12]

In [20]:
## Extend List -> To append items from another list we use Extend method. 
## We can use extend to iterate any data type with lists

print('marks_finals: ', marks_finals)
print('usernames: ', usernames)

#we are now appending items from marks_finals to usernames
usernames.extend(marks_finals)

print('usernames: ',usernames)

marks_finals:  [55, 68, 94, 72, 35, 63, 12]
usernames:  ['remo_96', 'Raja mouli', 894, 'Prakash Raj', 'Raja mouli', 'Tiger ana', 643, True]
usernames:  ['remo_96', 'Raja mouli', 894, 'Prakash Raj', 'Raja mouli', 'Tiger ana', 643, True, 55, 68, 94, 72, 35, 63, 12]

In [21]:
## Remove() -> This method removes specified item

print('List: ', usernames)

usernames.remove(643) 
# This removes 643 number in btn Tiger ana & True

print('Updated usernames: ', usernames)

List:  ['remo_96', 'Raja mouli', 894, 'Prakash Raj', 'Raja mouli', 'Tiger ana', 643, True, 55, 68, 94, 72, 35, 63, 12]
Updated usernames:  ['remo_96', 'Raja mouli', 894, 'Prakash Raj', 'Raja mouli', 'Tiger ana', True, 55, 68, 94, 72, 35, 63, 12]

In [22]:
## Pop() -> To remove an item using specified index we use pop()

print('marks_finals: ', marks_finals)

marks_finals.pop(3)
# This will remove the item on the 3rd index from start 72

print('Poped_list: ', marks_finals)

marks_finals:  [55, 68, 94, 72, 35, 63, 12]
Poped_list:  [55, 68, 94, 35, 63, 12]

In [23]:
## Del() -> We can also use del() to remove an item using index or even a complete list

fox = ['animal','bird', 'reptile', 'human']

del(fox[0]) 
## This will remove animal zeroth index
print('Index_del: ', fox)

del fox
# this will delete the entire list
# We will try to print fox in next cell which will throw an error

Index_del:  ['bird', 'reptile', 'human']

In [24]:
print(fox)
## As we have deleted the complete list using del.
## We are getting an error now as the list got deleated.

NameError: name 'fox' is not defined

In [25]:
## Clear() -> This method empties the list and returns us the empty list.

gang = ['Liger', 'Shooter', 'Escapist', 'Street fighter']

print('gang: ', gang)

gang.clear()
print('Cleared list: ', gang)

gang:  ['Liger', 'Shooter', 'Escapist', 'Street fighter']
Cleared list:  []

In [26]:
## Sort() -> As the names says this function will sort 

animals = ['cow', 'lion', "tiger", 'dog', 'hippo', 'zebra']
numbs = [56, 99, 1, 43, 38, 3, 75, 39]

animals.sort()
numbs.sort()

print('Sorted_ani: ', animals)
print('Sorted_numbs: ', numbs)

Sorted_ani:  ['cow', 'dog', 'hippo', 'lion', 'tiger', 'zebra']
Sorted_numbs:  [1, 3, 38, 39, 43, 56, 75, 99]

In [27]:
## To sort() in decending 

animals.sort(reverse=True)
numbs.sort(reverse=True)

print('Sorted_ani: ', animals)
print('Sorted_numbs: ', numbs)

Sorted_ani:  ['zebra', 'tiger', 'lion', 'hippo', 'dog', 'cow']
Sorted_numbs:  [99, 75, 56, 43, 39, 38, 3, 1]

In [28]:
## Copy() -> This method is used to copy a list into a new variable
# We cannot copy a list simply by typing list2 = list1, because: list2 will only be a reference to list1. 
# And changes made in list1 will automatically also be made in list2.
# There are ways to make a copy, one way is to use the built-in List method copy().


mobiles = ['one+', 'iPhone', 'Realme', 'Samsung']

phones = mobiles.copy()

print('Copied list: ', phones)

Copied list:  ['one+', 'iPhone', 'Realme', 'Samsung']

In [29]:
## We can also use built in method list() to copy

smartphones = list(phones)

print(smartphones)

['one+', 'iPhone', 'Realme', 'Samsung']

## Sets & In built Functions

- Sets are almost like lists and used to store multiple items in a single variable.

- A set is a collection which is unordered, unchangeable*, and unindexed. So duplicates are not allowed.

- Set is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Tuple, and Dictionary, all with different qualities and usage.

- Sets are written with curly brackets.

In [79]:
breakfast = {'Idly', 'Dosa', 'Pongal', 'Chapathi', 'Parota', 'Scrambled Eggs'}
print(breakfast)

{'Scrambled Eggs', 'Dosa', 'Pongal', 'Parota', 'Idly', 'Chapathi'}

In [80]:
breakfast

{'Chapathi', 'Dosa', 'Idly', 'Parota', 'Pongal', 'Scrambled Eggs'}

In [81]:
## From above two cells we can notice that the same set returning different ordered items.
## And because of this we cannot use indexing as well.

In [82]:
sports = {'Cricket', 'foot ball', 'hockey', 'foot ball'}

## As sets wont allow duplicates, this will automatically remove the dulicates.
## And returns the original values as below.

In [83]:
sports

{'Cricket', 'foot ball', 'hockey'}

In [84]:
## Add() -> this method is used to add items in a set as we cannot change a set

breakfast.add("Bread and Jam")

print(breakfast)

{'Scrambled Eggs', 'Dosa', 'Pongal', 'Parota', 'Idly', 'Bread and Jam', 'Chapathi'}

In [85]:
## Update() -> We can also add two sets or with any iterables using update()

breakfast.update(sports)

print(breakfast)

{'foot ball', 'Idly', 'Cricket', 'Scrambled Eggs', 'Dosa', 'Pongal', 'Parota', 'hockey', 'Bread and Jam', 'Chapathi'}

In [86]:
## Remove() & Discard() -> To remove items forms sets

breakfast.remove('Idly')
print('breakfast: ', breakfast)

sports.remove('foot ball')
print("sports: ", sports)

breakfast:  {'foot ball', 'Cricket', 'Scrambled Eggs', 'Dosa', 'Pongal', 'Parota', 'hockey', 'Bread and Jam', 'Chapathi'}
sports:  {'Cricket', 'hockey'}

In [88]:
## Union() -> To join two or more sets

sweets = {'Gulab jamoon', 'Kaju katli', 'Galebi', 'Mothichur ladoo'}
snacks = {'Samosa', 'Kachori', 'Ghatiya'}

print('sweets: ', sweets)
print('snacks: ', snacks)

sweets:  {'Kaju katli', 'Gulab jamoon', 'Galebi', 'Mothichur ladoo'}
snacks:  {'Ghatiya', 'Samosa', 'Kachori'}

In [90]:
food = sweets.union(snacks)

print("new set: ", food)

new set:  {'Galebi', 'Mothichur ladoo', 'Kachori', 'Ghatiya', 'Samosa', 'Gulab jamoon', 'Kaju katli'}

In [94]:
## intersection_update() -> this method will keep only duplicates
## Returns items present on both sides

central_gov = {'Tourist', 'IT', 'Industrial', 'Manufacturing', 'Navy'}
state_gov = {'IT', 'Home gaurd', 'Navy', 'Circle Inspector', 'Tourist'}

central_gov.intersection_update(state_gov)
print(central_gov)
# The resulting items will be presented in both sets

{'Tourist', 'Navy', 'IT'}

In [95]:
## Symmetric_difference_update() -> method will keep only the elements that are NOT present in both sets. 

state_gov.symmetric_difference_update(central_gov)
print(state_gov)

{'Circle Inspector', 'Home gaurd'}

## Tuples & In built Functions

- Tuples are also used to store multiple items in a single variable.

- Tuple is a collection which is ordered and unchangeable and allow duplicates.

- Tuples are written in round brackets.

In [96]:
influencer = ('Rohith shetty', 'Simba', 'Ranveer sign', 'Rohith shetty', 'Sara ali khan')

print(influencer)
# Note that Rohith shetty is a duplicated item

('Rohith shetty', 'Simba', 'Ranveer sign', 'Rohith shetty', 'Sara ali khan')

In [99]:
## Count() -> Returns the number of times a specified value occurs in a tuple

print('influencer: ', influencer)

c = influencer.count('Rohith shetty')

print('This item is repeated {} times'.format(c))

influencer:  ('Rohith shetty', 'Simba', 'Ranveer sign', 'Rohith shetty', 'Sara ali khan')
This item is repeated 2 times

In [101]:
## Index() -> This method gives you the first occurance of the specified value

nonveg = ('chicken biryani', 'mutton biryani', 'prawns curry', 'chicken biryani', 'lamb chops', 'prawns curry')

print('nonveg: ', nonveg)

i = nonveg.index('prawns curry')
print('The item index is {}'.format(i))

nonveg:  ('chicken biryani', 'mutton biryani', 'prawns curry', 'chicken biryani', 'lamb chops', 'prawns curry')
The item index is 2

## Dictionaries & In built functions

- clear() - Removes all the elements from the dictionary
- copy() - Returns a copy of the dictionary
- fromkeys() - Returns a dictionary with the specified keys and value
- get() - Returns the value of the specified key
- items() - Returns a list containing a tuple for each key value pair
- keys() - Returns a list containing the dictionary's keys
- pop() - Removes the element with the specified key
- popitem() - Removes the last inserted key-value pair
- setdefault() - Returns the value of the specified key. If the key does not exist: insert the key, with the specified value
- update() - Updates the dictionary with the specified key-value pairs
- values() - Returns a list of all the values in the dictionary